extends adminLay
block content
  body.hold-transition.sidebar-mini.layout-fixed
    .wrapper
      include adminheader
      br
      br
      .content-wrapper
        section.content
          .container-fluid
            .row
              .col-12
                .card
                  .card-header
                    h3.card-title Admins Information
                  .card-body.table-responsive.p-0(style='height: 700px;')
                    table.table.table-head-fixed.text-nowrap
                      thead
                        tr
                          th №
                          th ID
                          th Admin
                          th Email
                          th Admin Image
                          th Date Registration
                      tbody
                        each val, i in Admin
                            tr
                              td=i
                              td=val._id
                              td=val.username
                              td
                                span.tag.tag-success=val.Email
                              td
                                img(src=val.AdminImg  style="width: 80px; height:40px;" alt="jpg")
                              td=val.Date
      include adminfooter