nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link#bars(data-widget='pushmenu' href='#' role='button')
        i.fas.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='/admin/dashboard') Home
  // Right navbar links
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(data-widget='fullscreen' href='#' role='button')
        i.fas.fa-expand-arrows-alt
aside.main-sidebar.sidebar-dark-primary.elevation-4
  // Brand Logo
  a.brand-link(href='index3.html')
    img.brand-image.img-circle.elevation-3(src='/images/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: .8')
    span.brand-text.font-weight-light Admin
  // Sidebar
  .sidebar
    // Sidebar user panel (optional)
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        img.img-circle.elevation-2(src=admin.AdminImg alt='User Image')
      .info
        a.d-block(href='#')=admin.username
    // SidebarSearch Form
    // Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
        //
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library

        if title == "dashboard"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(class=Addclass href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin
        if title == "Addvid"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(class=Addclass href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin  
        if title == "AddTest"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(class=Addclass href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin        
        if title == "Lessons"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(class=Addclass href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin
        if title == "Userinf"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(class=Addclass href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information         
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin
        if title == "Admininf"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(class=Addclass href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information       
          li.nav-item
            a.nav-link(href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin
        if title == "Contract"
          - let Addclass = "active"
          li.nav-item
            a.nav-link(href='/admin/dashboard')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='/admin/Addvid/')
              i.fas.fa-plus-square.nav-icon
              p
                | Dars qo'shish
          li.nav-item
            a.nav-link(href='/admin/AddTest/')
              i.fas.fa-vial.nav-icon
              p
                | Test qo'shish
          li.nav-item
            a.nav-link(href='/admin/Lessons')
              i.fas.fa-video.nav-icon
              p
                | Darslar
          li.nav-item
            a.nav-link(href='/admin/Userinf')
              i.nav-icon.fas.fa-table
              p
                | Users Information
          li.nav-item
            a.nav-link(href='/admin/Admininf')
              i.nav-icon.fas.fa-table
              p
                | Admins Information       
          li.nav-item
            a.nav-link(class=Addclass href='/admin/Contract')
              i.nav-icon.far.fa-handshake
              p
                | Contract
          li.nav-item
            a.nav-link(href='/admin/Adminreg')
              i.nav-icon.fas.fa-user-plus
              p
                | Add Admin
    // /.sidebar-menu
    // /.sidebar

script.
  const bars = $("#bars");
  const layout = $(".layout-fixed");
  const img = $(".user-panel .image")
  bars.on("click", () => {
    if(layout.hasClass("sidebar-collapse")){
      layout.removeClass("sidebar-collapse");
      img.removeClass("padingForimg");
    }else{
      layout.addClass("sidebar-collapse");
      img.addClass("padingForimg");
    }
  })
  //- console.log(layout);
  //- console.log(bars);
